<ion-header>
  <ion-toolbar>
    <ion-title>
      Estudiantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>

    <ion-row class="ion-text-center ion-padding-bottom">
      <ion-col size-md="2">
        <b>Nombre</b>
      </ion-col>
      <ion-col size-md="2">
        <b>Correo</b>
      </ion-col>
      <ion-col size-md="2">
        <b>Universidad</b>
      </ion-col>
      <ion-col size-md="2">
        <b>Eliminar</b>
      </ion-col>
      <ion-col size-md="2">
        <b>Editar</b>
      </ion-col>
    </ion-row>

    <ion-row wrap *ngFor="let item of listado; let index = index" class="ion-padding-vertical">
      <ion-col size-md="3" class="ion-text-wrap">
        <p>{{item.nombre}}</p>
      </ion-col>
      <ion-col size-md="3" class="ion-text-wrap">
        <p>{{item.correo}}</p>
      </ion-col>
      <ion-col size-md="3" class="ion-text-wrap">
        <p>{{item.universidad}}</p>
      </ion-col>
      <ion-col size-md="3" class="ion-text-wrap">
        <ion-button expand="block" (click)="eliminar(item.id)">Eliminar</ion-button>
      </ion-col>
      <ion-col size-md="3" class="ion-text-wrap">
        <ion-button expand="block" routerLink="/editar" routerDirection="forward" (click)="editar(item.id, item.nombre, item.correo, item.universidad)">Editar</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-button expand="block" routerLink="/form" class="ion-margin-top" size="large">Agregar</ion-button>

</ion-content>
